.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #295DB8;
    color: white;               /*#333 white*/
}

.footer .footerLogo {
    margin-block: 5%;
    height: 15vh;

}

.footerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    column-gap: 5%;
    row-gap: 5vh;
    justify-items: start;
    padding-inline: 5%;
}

.footerContainer, h4 {
    font-weight:bolder;
    line-height: 120%;
    color: white;
    text-align: left;
    min-height: 20%;
}

.footerContainer li {
    text-decoration: none;

}

.footerContainer p, a {
    font-size: 0.7em;
    text-align: left;
    color: white;
    line-height: 150%;
    
}

.footerSocial i { font-size: 3em; margin-inline: 10px; margin-block: 5px;}

.footer .footerCopyright {
    margin-block: 5%;
    margin-inline: 5%;
}

.footer .footerCopyright p {
    font-size: 1.2em;
    font-weight: bolder;
    color: white;
    text-align: center;
}


@media (max-width: 768px) {

    .footer {
        position: relative;
        top: 11vh;
    }

    .footer .footerLogo {
        margin-block: 10%;
    }

    .footerContainer {
        grid-template-columns: repeat(1, 1fr); 
    }

    .footer .footerCopyright {
        font-size: 0.8em;
        margin-block: 15%;

    }

}