.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #295DB8;
    color: white;               /*#333 white*/
}

.footer .footerLogo {
    margin-block: 5%;
    height: 15vh;

}

.footerContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    column-gap: 5%;
    row-gap: 5vh;
    justify-items: start;
    padding-inline: 5%;
}

.footerContainer, h4 {
    font-weight:bolder;
    line-height: 120%;
    color: white;
    text-align: left;
    min-height: 20%;
}

.footerContainer li {
    text-decoration: none;

}

.footerContainer p, a {

    text-align: left;
    color: white;
    line-height: 300%;
    
}

.footer .footerCopyright {
    margin-block: 5%;
    font-weight: bolder;
}


@media (max-width: 768px) {

    .footer .footerLogo {
        margin-block: 10%;
    }

    .footerContainer {
        grid-template-columns: repeat(2, 1fr); 
    }

    .footer .footerCopyright {
        margin-block: 15%;

    }

}