.navbar {
    display: flex;
}

.navbar .contactInfo {
    display: flex;
    background-color: white;
    height: 5vh;
    width: 100%;
    z-index: 10;
    align-items: center;
    justify-content: end;
    padding-inline-end: 8%;
    gap: 2.2%;
    transition: opacity 0.5s ease-in-out, height 1s ease-in-out;
}

.navbar .contactInfo p {
    color: #333;
    font-size: 0.8em;
}

.navbar .contactInfo a {
    color: #333;
}

.navbar .contactInfo a:hover {
    color: #3A82CE;
}

.mainNav {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    background-color: #ffffff; /*#F4F5F5 #3A82CE; #333;*/
    top: 5vh;
    height: 10vh;
    align-items: center;
    justify-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.mainNav img {
    justify-self: center;
    height: 10vh;
    padding-inline-start: 50%;
}

.mainNav .nav-links {
    display: flex;
    gap: 25px;
    justify-self: end;
}

.mainNav .nav-links a {
    font-weight: 600;
    color: #333;
}

.mainNav .nav-links a:hover {
    color: #3A82CE;
}

.mainNav .hamburger {
    grid-row: 2;
    display: none;
}

@media (max-width: 768px) {

    .navbar .contactInfo {
        display:none;
    }

    .navbar .mainNav {
        position: fixed;
        top: 0vh;
        display: flex;
        justify-content: space-between;
    }
    
    .mainNav img {
        padding-inline-start: 5%;
    }
    
    .mainNav .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: #ffffff; /*#333*/
        padding-block-end: 10vh;
    }
    
    .mainNav .nav-links a {
        padding-block: 2vh;
    }

    .mainNav .nav-links a:first-child {
        padding-block-start: 8vh;
    }
    
    .mainNav .hamburger {
        display: block;
        padding-inline-end: 5%;
        font-size: 2em;
        cursor: pointer;
        color: #3A82CE;
    }
}