.btn {
    padding: 10px 20px;
    background-color: #3A82CE;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.5s;
}

.btn-azul-marino {
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 0;
    background-color: #1F4E79;
}

.btn-azul-marino:hover {
    background-color:  #183A5B;
}

.btn-azul-medio {
    font-weight:bolder;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 0;
    background-color:#295DB8;
        
}

.btn-azul-medio:hover {
    background-color: #1E4A8A;
}

.btn-blanco {
    font-weight:bolder;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 0;
    background-color: #FFFFFF;
}

.btn-blanco:hover {
    background-color: #F4F5F5;
}

.btn-gris-claro {
    font-weight:bolder;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 0;
    background-color: #D3D3D3;
}

.btn-gris-claro:hover {
    background-color:  #B8B8B8;
}
